/**** INPUT TEXT ****/

.InputText__cont {
  display: flex;
}

.InputText_self {
  align-self: center;
}

.InputText__cont input {
  width: 300px;
  height: 50px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: black;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
}

.InputText__cont input:hover {
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
  transition: all 0.2s ease-out;
}

.InputText__cont input:focus {
  outline: none;
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
}

@media (max-width: 768px) {
  .InputText__cont {
    display: flex;
    flex-direction: row;
  }
}
