.Prod__Wrap {
  height: 100%;
}

/* Grid Container */

.Prod__Wrap .Grid__cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  cursor: pointer;
  grid-gap: 3px;
}

/* Grid Items */

.Grid__box img {
  display: block;
  width: 100%;
}

.Grid__box:hover img {
  filter: blur(2px);
}

.Grid__cont .Grid__box {
  position: relative;
  transition: transform 0.2s;
}

.Grid__cont .Grid__box:hover {
  transform: translateY(-3px);
}

/* Grid Label Container */

.Grid__box .Gridlabels__cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Grid Label Title */

.Gridlabels__cont .GridLabelsItem__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.475);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.Grid__box:hover .GridLabelsItem__cont {
  opacity: 1;
}

.GridLabelsItem__cont p {
  margin: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: white;
}
