.Modal__cont {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 4;
}

.Image__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5rem;
  background-color: white;
}

.Image__description span {
  display: block;
  text-align: center;
  letter-spacing: 0.2rem;
  font-family: "Montserrat";
  color: #7e7e7e;
}

.Image__description :nth-child(even) {
  margin-top: 0.4rem;
}
