.Personalize__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: url("./img/PERSONALIZE_BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left; */
}

.Personalize__cont .InputTextSelectFont__cont {
  display: flex;
  justify-content: space-between;
  width: 628px;
  margin: 2rem 0 1.5rem 0;
}

@media (max-width: 768px) {
  .Personalize__cont .InputTextSelectFont__cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
  }
}

@media (max-width: 450px) {
  .Personalize__cont .InputTextSelectFont__cont {
    margin: 1rem 0 1rem 0;
  }
}

@media (max-width: 320px) {
  .Personalize__cont .InputTextSelectFont__cont {
    margin: 1rem 0 0.5rem 0;
  }
}
