.NavMain__cont * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavMain__cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 3;
}

.Nav__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.NavLogo__cont span {
  font-family: "Sacramento";
  font-size: 25px;
  font-weight: 0;
  font-style: italic;
  text-shadow: 1px 0.5px 4px #ca7919;
  color: black;
}

.NavLogo__cont span:hover {
  text-shadow: none;
  transition: all 0.3s ease-out;
  color: #ca7919;
  cursor: default;
}

.NavMainLinks__cont li {
  display: inline-block;
  margin-left: 30px;
  list-style-type: none;
}

.NavMainLinks__cont a {
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}

.NavMainLinks__cont a:focus {
  outline: none;
  color: #ca7919;
}

.NavMainLinks__cont .active {
  outline: none;
  color: #ca7919;
}

.NavMainLinks__cont a:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .NavMainLinks__cont {
    display: none;
  }
}

@media (min-width: 768px) {
  .NavMain__cont {
    border-bottom: 1px #a1a1a1 solid;
  }
}
