.Nav__head * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nav__head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 3;
}

.Nav__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.Nav__logo a {
  text-decoration: none;
  color: black;
  font-family: "Damion";
  font-size: 25px;
  font-weight: 0;
  text-shadow: 1px 0.5px 4px #ca7919;
}

.Nav__logo a:hover {
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: #ca7919;
}

.Nav__head__links li {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
}

.Nav__head__links a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.Nav__head__links .active {
  color: #ca7919;
}

.Nav__head__links a:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.5s ease;
}

@media (max-width: 768px) {
  .Nav__head__links {
    display: none;
  }
}

@media (min-width: 768px) {
  .Nav__head {
    border-bottom: 1px #a1a1a1 solid;
  }
}
