.NavMain__cont * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavMain__cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px #a1a1a1 solid;
  background-color: #ffffff;
  z-index: 2;
}

.Nav__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.NavLogo__cont .Brand__web {
  font-family: "Sacramento";
  font-size: 27px;
  font-style: italic;
  color: #ca7919;
}

/* .NavLogo__cont .Brand__web:hover {
  text-shadow: none;
  transition: all 0.3s ease-out;
  color: #ca7919;
  cursor: default;
} */

.NavMainLinks__cont li {
  display: inline-block;
  margin-left: 30px;
  list-style-type: none;
}

.NavMainLinks__cont a {
  display: inline-block;
  text-decoration: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  font-size: 1.3rem;
  color: #ca7919;
}

.NavMainLinks__cont a:focus {
  outline: none;
  color: #ca7919;
}

.NavMainLinks__cont a:focus {
  color: #ca7919;
}

.NavMainLinks__cont .active {
  outline: none;
  color: #ca7919;
}

.NavMainLinks__cont a:hover {
  transform: scale(1.3);
  transition: all 0.2s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  .NavMain__cont {
    top: auto;
    bottom: 0;
    border-top: 1px #a1a1a1 solid;
  }

  .Nav__cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0;
  }

  .NavLogo__cont .Brand__web {
    display: none;
  }

  .NavMainLinks__cont li {
    margin-left: 50px;
  }

  .NavMainLinks__cont li:first-child {
    margin-left: 30px;
  }

  .NavMainLinks__cont a:hover {
    transform: none;
  }
}

@media (max-width: 450px) {
  .NavMainLinks__cont li {
    margin-left: 40px;
  }
}

@media (max-width: 350px) {
  .NavMainLinks__cont li {
    margin-left: 23px;
  }
}
