.Grid__cont .Grid__box {
  position: relative;
  align-items: center;
  transition: transform 0.2s;
  border: 1px solid #d7d5d5;
}

.Grid__box img {
  display: block;
  background-color: #ca7a19;
  width: 100%;
}

.Grid__box:hover img {
  filter: blur(2px);
}

.Prod__name,
.Prod__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0;
  background-color: #ffffff;
}

.Prod__name span,
.Prod__price span {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #ca7a19;
  font-weight: bold;
  font-size: 0.9rem;
}

.Grid__box .Gridlabels__cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Gridlabels__cont .GridLabelsItem__cont {
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.475);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.Grid__box:hover .GridLabelsItem__cont {
  opacity: 1;
}

.GridLabelsItem__cont div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.1rem;
  font-family: "Montserrat";
  color: white;
}

.GridLabelsItem__cont span {
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .Prod__name,
  .Prod__price {
    margin: 1rem 0;
  }

  .Prod__name span,
  .Prod__price span {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
  }
}
