.Personalize__cont * {
  box-sizing: border-box;
}

.Personalize__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("./img/PERSONALIZE_BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
  margin: 7rem 0 7rem;
}

@media (max-width: 620px) {
  .Personalize__cont {
    margin-bottom: 1rem;
  }
}
