.About__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  padding-top: 1rem;
}

.About__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.About__main .About__title,
.Crafted__cont .Crafted__title {
  font-family: "Sacramento";
  font-style: italic;
  font-size: 2rem;
  margin-top: 2rem;
  color: #ca7919;
}

.About__contents {
  color: #5e5e5e;
}

.About__contents div:nth-child(odd) {
  margin-bottom: 0.2rem;
  font-family: "Montserrat";
  font-size: 1.1rem;
  text-transform: uppercase;
}

.About__contents div:nth-child(even) {
  margin-bottom: 3rem;
  font-family: "Montserrat";
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #878787;
}

.MissionVision__cont {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0 2rem 0;
}

.Mission__cont,
.Vision__cont {
  width: 320px;
  margin: 0 3rem;
}

.Mission__title,
.Vision__title {
  font-family: "Sacramento";
  font-size: 2rem;

  color: #ca7919;
}

.Mission_content,
.Vision_content {
  font-family: "Montserrat";
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  color: #5e5e5e;
}

.Crafted__cont {
  width: 100%;
  margin: 2rem;
}

.Logo__cont {
  display: grid;
  grid-template-areas:
    "logo logo logo logo logo logo"
    "logo logo logo logo logo logo"
    "logo logo logo logo logo logo";
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 2rem 0;
}

.Logo__box img {
  grid-area: "logo";
  display: block;
  max-width: 90px;
}

@media (max-width: 800px) {
  .Logo__box img {
    grid-area: "logo";
    display: block;
    max-width: 80px;
  }
}
@media (max-width: 620px) {
  .MissionVision__cont {
    flex-direction: column;
    align-items: center;
    margin: 1.7rem 0 0 0;
  }

  .Mission__cont,
  .Vision__cont {
    margin: 0 0 4rem 0;
  }

  .Crafted__cont .Crafted__title {
    margin: 0 0 0.5rem 0;
  }

  .Logo__cont {
    grid-template-areas:
      "logo logo logo"
      "logo logo logo"
      "logo logo logo"
      "logo logo logo"
      "logo logo logo"
      "logo logo logo";
    margin: 0 0.5rem;
  }
}

@media (max-width: 450px) {
  .About__contents div:nth-child(odd) {
    font-size: 0.9rem;
  }

  .About__contents div:nth-child(even) {
    font-size: 0.7rem;
  }

  .Mission_content,
  .Vision_content {
    font-size: 0.9rem;
  }
}
