.BurgerButton__cont * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BurgerButton__cont {
  width: 18px;
  height: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.BurgerButton__cont:focus {
  outline: none;
}

.BurgerButton__cont .BurgerButtonLine {
  border-radius: 10px;
  width: 18px;
  height: 2px;
  background-color: black;
  transition: 0.2s ease-out;
}

.BurgerButton__cont .one {
  transform: translateY(-3px);
}

.BurgerButton__cont .three {
  transform: translateY(3px);
}

.BurgerButton__cont.change .one {
  transform: translateY(1px) rotate(45deg);
  width: 14px;
}

.BurgerButton__cont.change .two {
  opacity: 0;
}

.BurgerButton__cont.change .three {
  transform: translateY(-3px) rotate(-45deg);
  width: 14px;
}

@media (min-width: 768px) {
  .BurgerButton__cont {
    display: none;
  }
}
