.HowToOrder__cont * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HowToOrder__cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 9rem;
  padding-top: 1rem;
}

.HowToOrder__cont .HowToOrder__title {
  font-family: "Sacramento";
  font-style: italic;
  font-size: 2rem;
  color: #ca7919;
}

@media (max-width: 768px) {
  .HowToOrder__cont {
    margin-top: 5rem;
    padding-top: 0rem;
  }
}
