.Select__cont {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
}

.Select__cont .Selected__cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  background-color: #ffff;
  border: 1px #a1a1a1 solid;
  border-radius: 0.3rem;
  padding: 0 8px 0 15px;
}

.Select__cont .Selected__cont:hover {
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.Select__cont .Selected__cont:focus {
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
  outline: #ca7919;
}

.Select__cont .Selected__cont.active {
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
  outline: #ca7919;
}

.Select__cont .Selected__cont .Selected {
  color: #a1a1a1;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

.Selected__cont .Selected.active {
  color: black;
}

.Selected__cont span {
  background: url(./img/arrow_down.svg);
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}

.Select__cont .Option__cont:focus {
  outline: none;
}

.Select__cont .Option__cont {
  background: white;
  position: absolute;
  top: 55px;
  width: 100%;
  border: 1px #a1a1a1 solid;
  border-radius: 0.3rem;
  text-align: center;
  transition: all 0.2s ease-out;
  overflow-y: scroll;
  z-index: 1;
  height: 0;
  opacity: 0;
}

.Select__cont .Option__cont.active {
  opacity: 1;
  height: 150px;
}

.Option__cont .Option {
  padding: 10px;
}

.Option__cont .Option:first-child {
  padding-top: 2rem;
  cursor: pointer;
}

.Option__cont .Option:last-child {
  padding-bottom: 2rem;
  cursor: pointer;
}

.Option__cont .Option:hover {
  color: #ca7919;
  transition: color 0.2s ease-out;
}

.Option__cont .Option:focus {
  outline: none;
}

.Option__cont .Option.active {
  color: #ca7919;
  transition: color 0.2s ease-out;
}

.Option input {
  display: none;
}

.Option label {
  display: inline-block;
  width: 100%;
  font-size: 19px;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Option label:active {
  color: #ca7919;
}

.Option label:focus {
  color: #ca7919;
  outline: none;
}

@media (max-width: 768px) {
  .InputTextSelectFont__cont .Select__cont {
    margin-top: 0.5rem;
  }
}

@media (max-width: 450px) {
  .Select__cont {
    width: 250px;
  }

  .Select__cont .Selected__cont {
    width: 250px;
  }

  .Select__cont .Selected__cont .Selected {
    font-size: 15px;
  }

  .Option label {
    font-size: 15px;
  }
}
