/* Home Container */

.Home__cont {
  /* display: grid; */
  height: 100vh;
}

/* Home Main Container */

.Home__cont .HomeMain__cont {
  display: grid;
  grid-template-areas: "HomeLeft__cont HomeRight__cont";
  height: inherit;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

/* Left Home Container */

.HomeMain__cont .HomeLeft__cont {
  display: grid;
  grid-area: HomeLeft__cont;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "ecofriendly"
    "ecofriendly"
    "personalized"
    "personalized"
    "economical"
    "economical"
    "makethe"
    "makethe"
    "makethe"
    "socials";
  justify-items: end;
  align-items: end;
  /* background-color: none; */
  background-color: #ca7919;
  font-family: "Bebas Neue";
  letter-spacing: 0.15rem;
  color: #ffffff;
  /* color: black; */
  z-index: 1;
}

.HomeLeft__cont .ecofriendly {
  grid-area: ecofriendly;
  font-size: 2rem;
}

.HomeLeft__cont .personalized {
  grid-area: personalized;
  font-size: 2rem;
}

.HomeLeft__cont .economical {
  grid-area: economical;
  font-size: 2rem;
}

.HomeLeft__cont .makethe {
  grid-area: makethe;
  font-size: 6.7rem;
  text-shadow: 1px 2px 3px #e6e6e6;
}

.HomeLeft__cont .socials {
  grid-area: socials;
  font-family: "Sacramento", cursive;
  font-style: italic;
  font-size: 2rem;
}

/* Right Home Container */
.HomeMain__cont .HomeRight__cont {
  grid-area: HomeRight__cont;
}

.HomeMain__cont .HomeRight__cont {
  display: grid;
  grid-area: HomeRight__cont;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "ecofriendly"
    "ecofriendly"
    "personalized"
    "personalized"
    "economical"
    "economical"
    "switch"
    "switch"
    "switch"
    "socials";
  justify-items: start;
  align-items: end;
  background-color: #ffffff;
  font-family: "Bebas Neue";
  letter-spacing: 0.15rem;
  color: #ca7919;
}

.HomeRight__cont .ecofriendly {
  grid-area: ecofriendly;
  width: 100px;
  position: absolute;
  top: 95px;
  right: 550px;
  cursor: pointer;
}

.HomeRight__cont .personalized {
  grid-area: personalized;
  width: 450px;
  position: absolute;
  top: 170px;
  right: 300px;
  cursor: pointer;
}

.HomeRight__cont .economical {
  grid-area: economical;
  width: 130px;
  position: absolute;
  top: 310px;
  right: 530px;
  cursor: pointer;
}

.HomeRight__cont .switch {
  grid-area: switch;
  font-size: 6.7rem;
  text-shadow: 1px 2px 4px #a1a1a1;
  cursor: pointer;
}

.HomeRight__cont .socials {
  grid-area: socials;
  font-family: "Sacramento", cursive;
  font-style: italic;
  font-size: 2rem;
}

/* Social Links Container */

.Home__cont .SocialLinks_cont {
  grid-area: SocialLinks_cont;
}

/* Media Queries */
