.Contact__cont {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 4;
}

.Contact__cont form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background-color: white;
  padding: 0 1rem;
  border-radius: 0.3rem;
}

.Contact__cont h3 {
  margin: 1rem 0;
  text-align: center;
  font-family: "Sacramento";
  color: #ca7919;
  font-size: 3rem;
  font-style: italic;
  font-weight: normal;
}

.Contact__cont .NameEmail__cont {
  display: flex;
  justify-content: space-between;
}

.NameEmail__cont input {
  width: 44%;
  padding: 0.7em;
  border: 1px #a1a1a1 solid;
  border-radius: 0.3rem;
  font-family: "Montserrat";
  font-size: 1.1rem;
}

.NameEmail__cont input::-webkit-input-placeholder {
  color: #a1a1a1;
}

.NameEmail__cont input:-ms-input-placeholder {
  color: #a1a1a1;
}

.NameEmail__cont input::placeholder {
  color: #a1a1a1;
}

.NameEmail__cont input:hover {
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
  transition: all 0.2s ease-out;
}

.NameEmail__cont input:focus {
  outline: none;
  background-color: white;
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
}

.NameEmail__cont input:disabled {
  border: 1px #cdcdcd solid;
  background-color: #ffffff;
  box-shadow: none;
  color: #cdcdcd;
  cursor: default;
}

.Message_cont textarea {
  width: 100%;
  height: 200px;
  padding: 0.7rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border: 1px #a1a1a1 solid;
  border-radius: 0.3rem;
  font-family: "Montserrat";
  font-size: 1.1rem;
}

.Message_cont textarea::-webkit-input-placeholder {
  color: #a1a1a1;
}

.Message_cont textarea:-ms-input-placeholder {
  color: #a1a1a1;
}

.Message_cont textarea::placeholder {
  color: #a1a1a1;
}

.Message_cont textarea:hover {
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
  transition: all 0.2s ease-out;
}

.Message_cont textarea:focus {
  outline: none;
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
}

.Message_cont textarea:disabled {
  border: 1px #cdcdcd solid;
  background-color: #ffffff;
  box-shadow: none;
  color: #cdcdcd;
  cursor: default;
}

.Buttons__cont {
  display: flex;
  justify-content: flex-start;
}

.Buttons__cont * {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

.Buttons__cont .Status__cont {
  margin: 0 auto;
  padding: 0.5rem 0;
  border: 1px solid #ffffff;
  color: #a1a1a1;
}

.Buttons__cont button {
  margin-bottom: 2rem;
  padding: 0.5rem;
  width: 30%;
  border-radius: 0.3rem;
  cursor: pointer;
}

.Buttons__cont .Send__cont {
  margin-right: 0.5rem;
  border: 1px #ca7919 solid;
  background-color: #ca7919;
  color: #ffffff;
}

.Buttons__cont .Send__cont:focus {
  outline: none;
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
}

.Buttons__cont .Send__cont:hover {
  border-color: #747474;
  box-shadow: 0px 0px 5px #000000;
  transition: all 0.2s ease-out;
}

.Buttons__cont .Send__cont:disabled {
  border: 1px #cdcdcd solid;
  background-color: #ffffff;
  box-shadow: none;
  color: #cdcdcd;
  cursor: default;
}

.Buttons__cont .Cancel__cont {
  border: 1px #a1a1a1 solid;
  background-color: #ffffff;
  color: #a1a1a1;
}

.Buttons__cont .Cancel__cont:focus {
  outline: none;
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
}

.Buttons__cont [type|="button"]:hover {
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
  transition: all 0.2s ease-out;
}

.Back__cont {
  margin-right: 0.5rem;
  border: 1px #ca7919 solid;
  background-color: #ca7919;
  color: #ffffff;
}

.Back__cont:focus {
  outline: none;
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
}

.Back__cont:hover {
  border-color: #747474;
  box-shadow: 0px 0px 5px #000000;
  transition: all 0.2s ease-out;
}

@media (max-width: 768px) {
  .NameEmail__cont input {
    width: 42%;
    font-size: 0.9rem;
  }

  .Message_cont textarea {
    font-size: 0.9rem;
  }

  .Buttons__cont * {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .Contact__cont form {
    width: 80%;
  }

  .Contact__cont h3 {
    font-size: 2rem;
  }
}
