@keyframes ldio-bgmv97w5bjj {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-bgmv97w5bjj div {
  position: absolute;
  width: 61px;
  height: 61px;
  border: 7px solid #dfdfdf;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-bgmv97w5bjj div {
  animation: ldio-bgmv97w5bjj 1s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-imkkpqhper {
  width: 51px;
  height: 51px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-bgmv97w5bjj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-bgmv97w5bjj div {
  box-sizing: content-box;
}
