.Footer__cont {
  width: 100%;
  padding-bottom: 0.5rem;
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: #a0a0a0;
}

.Footer__cont .FaqCollab_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0.333rem 0.5rem 0.333rem;
}

.Footer__cont p {
  margin: 0;
  letter-spacing: 0.1rem;
}

.CopyRights__cont span {
  font-family: "Sacramento";
  font-style: italic;
  font-size: 1rem;
}
