.Footer__cont {
  width: 100%;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #a1a1a1;
  font-family: "Montserrat";
  font-size: 0.8rem;
}

.Footer__cont .FaqCollab_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.9rem;
}

.FaqCollab_cont p {
  margin: 0;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.FaqCollab_cont p:hover {
  color: #ca7919;
  transition: 0.3s ease-out;
}

.CopyRights__cont {
  letter-spacing: 0.05rem;
}

.CopyRights__cont span {
  font-family: "Sacramento";
  font-style: italic;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .Footer__cont {
    margin-bottom: 60px;
  }
}
