/* Social Links */

.Home__Wrap .social {
  padding: 0;
  margin: 20px 0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  /* border: 1px solid red; */
}

.Home__Wrap .social {
  margin: 0;
  padding: 0;
}

.Home__Wrap .social li {
  padding: 0 10px;
  display: inline-block;
  font-size: 20px;
}

.Home__Wrap .social li a {
  color: black;
}
.Home__Wrap .social li a:hover {
  color: #ca7919;
  text-shadow: 0px 1px 2px #ca7919;
  transform: scale(2);
  transition: all 0.3s ease;
}
