body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bernadette";
  src: local("Bernadette"), url(./Fonts/bernadette.ttf) format("truetype");
}

@font-face {
  font-family: "Baybayin";
  src: local("Baybayin"), url(./Fonts/baybayin.ttf) format("truetype");
}

@font-face {
  font-family: "Modernist Milk";
  src: local("modernist_milk"),
    url(./Fonts/modernist_milk.ttf) format("truetype");
}

@font-face {
  font-family: "riztteen";
  src: local("riztteen"), url(./Fonts/riztteen.otf) format("truetype");
}

@font-face {
  font-family: "BEBAS NEUE";
  src: local("bebas_neue"), url(./Fonts/bebas_neue.ttf) format("truetype");
}

@font-face {
  font-family: "Damion";
  src: local("damion"), url(./Fonts/damion.ttf) format("truetype");
}

@font-face {
  font-family: "Amarillo";
  src: local("amarillo"), url(./Fonts/amarillo.ttf) format("truetype");
}

@font-face {
  font-family: "Citrica";
  src: local("citrica"), url(./Fonts/citrica.ttf) format("truetype");
}

@font-face {
  font-family: "MOON";
  src: local("moon_light"), url(./Fonts/moon_light.otf) format("truetype");
}

@font-face {
  font-family: "WENSLEY";
  src: local("wensley"), url(./Fonts/wensley.ttf) format("truetype");
}

@font-face {
  font-family: "Back to Black";
  src: local("back_to_black"), url(./Fonts/back_to_black.ttf) format("truetype");
}

@font-face {
  font-family: "Uranos";
  src: local("uranos"), url(./Fonts/uranos.ttf) format("truetype");
}

@font-face {
  font-family: "Hughs";
  src: local("hughs.otf"), url(./Fonts/hughs.otf) format("truetype");
}

@font-face {
  font-family: "The Heart of Everything";
  src: local("the_heart_of_everything.ttf"),
    url(./Fonts/the_heart_of_everything.ttf) format("truetype");
}

@font-face {
  font-family: "Julietta";
  src: local("julietta.ttf"), url(./Fonts/julietta.ttf) format("truetype");
}

@font-face {
  font-family: "Old English";
  src: local("old_english.ttf"), url(./Fonts/old_english.ttf) format("truetype");
}

/* @font-face {
  font-family: "Shorelines Script";
  src: local("shorelines_script"),
    url(./Fonts/shorelines_script.otf) format("truetype");
} */
