.Payment__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5e5e5e;
  font-family: "Montserrat";
}

.HowToOrder__cont .Payment__cont {
  margin-top: 1.5rem;
}

.Payment__cont .Merchants__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  list-style-type: none;
}

.Merchants__cont .bpi_logo {
  width: 45%;
  margin-bottom: 1rem;
}

.Merchants__cont .Merchant_qr {
  width: 80%;
  margin-bottom: 0.5rem;
}

.Merchants__cont .multi_logo {
  width: 38%;
  margin-bottom: -0.3rem;
}

.Merchants__cont ul {
  list-style-type: none;
  letter-spacing: 0.1rem;
  text-align: center;
}

.Merchants__cont li {
  margin: 0.4rem;
}

@media (max-width: 470px) {
  .Payment__cont * {
    font-size: 0.9rem;
  }

  .Merchants__cont .multi_logo {
    width: 60%;
    margin-bottom: -0.3rem;
  }
}

@media (max-width: 350px) {
  .PaymentShipping__cont * {
    font-size: 0.75rem;
  }
}
