.InputText__cont input {
  width: 300px;
  height: 50px;
  border: 1px solid #a1a1a1;
  border-radius: 0.3rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  color: black;
}

.InputText__cont input:hover {
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
  transition: all 0.2s ease-out;
}

.InputText__cont input:focus {
  outline: none;
  border-color: #ca7919;
  box-shadow: 0px 0px 5px #ca7919;
}

.InputText__cont input::-webkit-input-placeholder {
  color: #a1a1a1;
}

.InputText__cont input:-ms-input-placeholder {
  color: #a1a1a1;
}

.InputText__cont input::placeholder {
  color: #a1a1a1;
}

@media (max-width: 450px) {
  .InputText__cont input {
    width: 250px;
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .Personalize__cont .InputTextSelectFont__cont {
    margin-bottom: 1rem;
  }
}
